.teksts {
display: flex;
padding: 16px 32px 8px;
margin: 8px 12px;
background-color: #00ffff;
font-family: 'Courier New', Courier, monospace;
font-size: 32px;
}
.arejaKaste{
border-style: dotted;
border-color: blue;
backround-color: lightnlue;
padding: 10px 10px 10px 10px;
margin: 50px 20px 50px 20px;
}
.iesniegt{
  border-style: solid;
  border-radius: 25px;
  margin-left:50%;
}
.poga{
  background-color: #FFFFFF;
  text-align: center;
  color:#FF0000;
  font-size: 14px;
  opacity: 0.5;
  transition: 0.2s;
  display: inline-block;
  cursor: pointer;
  border: 2px solid;
  border-radius: 50px 20px;
  padding: 7px 7px 7px 7px;
  margin-left: 450px;
  font-family: 'Courier New', monospace;
}
 .label {
background-color: #FFFFFF;
color:#FF0000;
font-weight: bold;
display: inline-block;
width: 130px;
border: 3px solid;
border-radius: 20px 20px 20px 20px;
padding: 5px 5px 5px 5px;
margin: 10px 10px 10px 10px;
text-align: center;
font-family: 'Courier New', monospace;
}
 .input{
background-color: #FFFFFF;
color:#FF0000 .input{
background-color: #42135E;
color:#FF0000;
display: inline-block;
width: 130px;
border: 2px solid;
border-radius: 20px 20px 20px 20px;
padding: 5px 5px 5px 5px;
margin: 10px 10px 10px 10px;
text-align: center;
font-family: 'Courier New', monospace;
}   
   .check{
color: #FFFFFF;
display: inline-block;
width: 130px;
border: 2px solid;
border-radius: 40px 40px 40px 40px;
padding: 5px 5px 5px 5px;
height: 20px;
width: 20px;
margin-left: 100px;
}
   .line{
  width: 90%;
  color: #000000;
}

